################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Rihal_Cinema/FileContentIndex/7616b520-df5f-491d-ac46-f8a91162216c.vsidx
