################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Rihal_Cinema/FileContentIndex
.vs/Rihal_Cinema/v17
