################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Rihal_Cinema/FileContentIndex
/.vs/Rihal_Cinema/v17
/.vs/Rihal_Cinema/v17/.sou
/.vs/ProjectEvaluation
/.vs/Rihal_Cinema/FileContentIndex/b11481e8-1f32-4ab6-a237-b6aac0ea8438.vsidx
/.vs/Rihal_Cinema/DesignTimeBuild
